body {
    font-family: 'Open Sans', sans-serif;
}

.panel-title {
    font-size: 14px;
}

.panel-body {
    padding: 0;
}

.panel > .panel-collapse > .panel-body > .list-group {
    margin-bottom: 0;
}