body {
    font-family: 'Open Sans', sans-serif;
}

uib-accordion > .panel-group > .panel > .panel-heading > .panel-title {
    font-size: 14px;
}

.panel-body {
    padding: 0;
}

.panel > .panel-collapse > .panel-body > .list-group {
    margin-bottom: 0;
}

/* modified bootstrap codemirror style from https://github.com/publicocean0/bootstrap-codemirror */
.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 8px 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
    height: auto;
}

.CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

a[ng-click] {
    cursor: pointer;
}

.btn-toolbar.btn-flex {
    display: flex;
}

.btn-flex .btn-group {
    flex: 1;
}