<div class="container">
    <div class="row">
        <div class="col-lg-6">
            Keyword: <input ng-model="keyword"/>
            <br/>
            Results no.: <input ng-model="results"/>
            <br/>
            <button ng-click="getRequest()" class="btn btn-primary">Test</button>
        </div>
        <div class="col-lg-6">
            <ul>
                <li ng-repeat="keyword in similarity">
                    {{ keyword.keyword }}
                </li>
            </ul>
        </div>
    </div>
</div>